<nav class="navbar navbar-light bg-light">
  <%= link_to t('.testguru'), root_path, class: 'navbar-brand' %>
  <span class="navbar-text">
    <% if user_signed_in? %>
      <%= t('.welcome') %>, <b><%= current_user.email %></b> <%= t('.guru') %>
      <%= link_to t('.log_out'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t('.sign_up'), new_registration_path(resource_name) %>
    <% end %>
  </span>
</nav>
