<div class="row justify-content-center mt-3">
  <div class="col col-md-6">
    <h1><%= t('.passing_the_test',title: @response.test.title) %></h1>
    <h3><%= t('.question_number_all_questions', current_number: @response.question_number,
      count: @response.test.questions.count) %>
    </h3>
    <div class="card">
      <div class="card-header">
         <b> <%= @response.question.body %> </b>
      </div>
      <ul class="list-group list-group-flush">
        <%= form_with url: response_path(@response), local: true, method: :put do |form| %>
          <%= form.collection_check_boxes :answer_ids, @response.question.answers, :id, :body, include_hidden: false do |b| %>
            <li class="list-group-item">
              <%= b.check_box id: "answer_ids_#{b.object.id}" %>
              <%= b.label %>
            </li>
          <% end %>
      </ul>
        <%= link_to t('.gist_question'), gist_response_path(@response), method: :post %>
        <%= form.submit t('.next'), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
