  <tr>
    <td>
      <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
      <%= render 'form_inline', test: test == @test ? @test : test %>
    </td>
    <td><%= test.level %></td>
    <td><%= test.category.title %></td>
    <td><%= test.questions.size %></td>
    <td><%= test.author.email %></td>
    <td><%= link_to t('.show'), admin_test_path(test), class: "btn btn-primary"   %></td>
    <td><%= link_to t('.edit'),
                    edit_admin_test_path(test),
                    data: { test_id: test.id },
                    class: 'form-inline-link btn btn-primary' %>
    </td>
    <td><%= link_to t('.delete'),
                     admin_test_path(test),
                     method: :delete,
                     data: { confirm: t('.are_you_sure') }, class: "btn btn-primary"  %>
     </td>
  </tr>
