<div class="row justify-content-center mt-3">
  <div class="col col-md-10 ">
    <h1 align=center><%= t('.header') %></h1>
      <%= render 'shared/errors', resource: @test %>
      <table class="table">
        <thead>
          <th class="sort-by-title pointer">
            <%= t('.title') %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
          <th><%= t('.level') %></th>
          <th><%= t('.category') %></th>
          <th><%= t('.questions_number') %></th>
          <th><%= t('.author') %></th>
          <th><%= t('.time_limit') %></th>
          <th colspan="3"><%= t('.action') %></th>
        </thead>
        <tbody>
          <%= render @tests %>
        </tbody>
      </table>
      <%= link_to t('.new'), new_admin_test_path %>
      <br>
      <%= link_to t('.badges'), admin_badges_path %>
      <br>
      <%= link_to t('.gists'), admin_gists_path %>
      <br>
      <%= link_to t('.feedbacks'), admin_feedbacks_path %>
  </div>
</div>
