<p>Test: <b><%= @test.title %></b></p>
<table border=2>
<tr>
  <th>Questions</th>
  <th colspan="3">Actions</th>
</tr>
<%= render @test.questions %>
</table>
<br>
<%= link_to 'New question', new_admin_test_question_path(@test) %>
<br>
<%= link_to 'Edit', edit_admin_test_path(@test) %>
<br>
<%= link_to 'Back', admin_tests_path %>
