<br>
<p><%= time %>
  <%= I18n.t('.author') %></p>
<%= github_url("IFilonov", "TestGuru")%>
<br>
<%= link_to I18n.t('.project'), "https://thinknetica.com", target: :blank %>
<br>
<%= link_to I18n.t('.feedback'), new_feedback_path%>
