<!DOCTYPE html>
 <html>
   <head>
     <title><%= t('.admin_panel') %></title>
     <%= csrf_meta_tags %>

     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>

   <body>
     <%= render 'admin/nav' %>
     <div class="container">
       <%= flash_messages %>
       <%= yield %>
     </div>
   </body>
 </html>
